<?xml version="1.0"?>
<!--
/**
 * SalesBlock2ByGeo plugin for Magento 2
 *
 * @package     Yireo_SalesBlock2ByGeo
 * @author      Yireo
 * @copyright   Copyright 2019 Yireo (https://www.yireo.com/)
 * @license     Open Source License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="salesblock" translate="label" sortOrder="342" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="settings">
                <field id="geoip_country_database" type="text" translate="label" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>GeoIP v2 country database file</label>
                    <hint>Needed when not using GeoIP v1 via PHP</hint>
                </field>
                <field id="geoip" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GeoIP v1 PHP support</label>
                    <frontend_model>Yireo\SalesBlock2ByGeo\Block\Adminhtml\System\Config\Check</frontend_model>
                    <hint>Needed when not using GeoIP v2 via database file</hint>
                </field>
            </group>
        </section>
    </system>
</config>
